$font-size-base: 15px;
$grid-gutter-width: 40px;
$viewport-vertical-padding: 60px;
$album-hover: rgba(103,226,173,0.97);
$text-color: #333;
$nav-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
$nav-shadow-hover: 1px 2px 7px  rgba(0, 0, 0, 0.2);
