@import "variables";
@import "bootstrap";

body {
    margin:0;
    padding:0;

}
nav, aside, header, footer, section, article {
    display:block;
    position:relative;
}
ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    margin:3px 0;
}
a {
    text-decoration: none;
    img {
        outline: none;
    }
    &:hover {
        color: #004161;
        transition: color 0.3s;
    }
}
p {
    color: #EEE;
    font-size: 1.1em;
    a {
        text-shadow: none;
    }
}
header {
    position:fixed;
    left:0;
    top:0;
    width: 13em;
    z-index:9999;
    font-size:1.3em;
    h1 {
        box-shadow: 0 0 15px rgba(255,255,255,0.7);
    }
}
details {
    clear:both;
}
article li {
    list-style: square;
    margin: 3px 1.3em;
}
footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#reel {
    position: fixed;
    top: -2em;
    left: -2em;
    width: 110%;
    min-height:110%;
    background-size: 100%;
    background-position: center center;
}
#main {
    position:relative;
    width:100%;
    overflow:hidden;
}
#logo {
    background: #67e2ad url(../images/pojo.png) no-repeat center bottom;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin: 0.5em;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 2px #FFF, 2px 2px 15px #000;
        transition: all 0.3s;
    }
    a{
        text-indent: -9999px;
        display: block;
        overflow: hidden;
        height: 70px;
        width: 70px;
        background: transparent;
        &:hover {
            background:transparent;
        }

    }
}
#main-nav {
    margin: 0 ;
    padding:0;
    @media (max-width: $screen-sm-min) {
        display: none;
    }
    li {
        margin:20px 0;
    }
    a {
        display:inline !important;
        padding: 0.3em 0.7em;  // these two !important should go if we import the right stylsheet
        outline: 0;
        text-decoration:none;
        background-color: #004161;
        border-radius: 0 3px 3px 0;
        border: 0 solid #FFF;
        font-size: 80%;
        color: #FFF;
        transition: all 0.2s;
    }
    a:hover {
        box-shadow: 4px 4px 15px #000;
        display: block;
        text-align: right;

    }
    .active a{
        font-size: 0.9em;
        box-shadow: 4px 4px 15px #000;
        display: block;
        text-align: right;
    }
}
#manojo {
    display: block;
    margin: 1em auto;
}
#about{
    text-align: center;
    .avatar {
        display: block;
        margin: auto;
        border-radius: 60px;
        width:120px;
        height:120px;
        overflow:hidden;
    }
    .license {
        font-size: 80%;
    }
    h1 {
        color: #333;
    }
    p {
        text-align: left;
    }
}
#contact {
    padding: $viewport-vertical-padding 2em;
}
.wrapper {
    width: 60%;
    margin: 0 auto;
}
.container-fluid {
    position: relative;
    text-align: center;
    margin: 0 auto;
    @media (min-width: $screen-sm-min) {
        padding: $viewport-vertical-padding 2em;
    }
    @media (min-width: $screen-md-min) {
        padding: $viewport-vertical-padding 3em $viewport-vertical-padding 230px;
    }
}
.album {
    margin-bottom: $grid-gutter-width;
    .inner {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        height: 170px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 200%;
    }
    * {
        transition: all 0.3s;
    }
    img {
        margin-left:-20px;
        margin-top:-20px;
    }
    h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        margin:0;
        padding: 4px;
        color:transparent;
        opacity:0;
        text-align: left;
        transition: all 0.2s;
        z-index:999;
    }
    a  {
        display: block;
        padding: 0;
        text-decoration: none;
        transition: all 0.2s;

    }
    &:hover{
        .inner{
            transition: all 0.2s;
            box-shadow: 4px 4px 25px rgba(0,0,0,0.6);
        }
        h2 {
            width:100%;
            bottom: -2em;
            background: #67e2ad;
            color:#FFF;
            opacity: 100;
            cursor: pointer;
            transition: all 0.2s;
            border-radius: 3px 3px 7px 7px;
        }
    }
}
.content{
    min-width: 25em;
    width: 50%;
    height: 60%;
}

/* Form */
form {
    width: 50em;
    margin: 0 auto;
}
label {
    text-align: left;
    display: block;
    color: #000;
    text-shadow: 1px 1px 0 #FFF, 0 0 6px #FFF;
}
input[type="text"], textarea {
    width:100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 1px #6DE6B1;
}

/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Icons */
@font-face {
    font-family: "slick";
    src: url("../fonts/slick.eot");
    src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Arrows */
$slick-arrow-size: 45px;
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: $slick-arrow-size;
    width: $slick-arrow-size;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -20px;
    padding: 0;
    border: none;
    outline: none;
    opacity: $slick-opacity-default;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        opacity: $slick-opacity-on-hover;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: $slick-arrow-size;
    line-height: 1;
    color: #FFF;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -5px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: -5px;
    [dir="rtl"] & {
        left: -5px;
        right: auto;
    }
    &:before {
        content: $slick-next-character;
        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
/* Slider */

.slider {
    padding: 3em;
}
#slide-wrapper {
    height: 100%;
}
.slick-slider {
    position: relative;
    display: block;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    text-align: center;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        margin: 0 auto;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slider-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.caption {
    position: absolute;
    bottom: -2em;
    left: 0;
    padding: 0 10em;
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
    width: 100%;
    p {
        text-align: center;
        font-size: 80%;
    }
}
