@import "variables";
@import "bootstrap";

body {
    margin:0;
    padding:0;
}
nav, aside, header, footer, section, article {
    display:block;
    position:relative;
}
ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    margin:3px 0;
}
a {
    text-decoration: none;
    img {
        outline: none;
    }
    &:hover {
        color: #004161;
        transition: color 0.3s;
    }
}
p {
    color: #EEE;
    font-size: 1.1em;
    a {
        text-shadow: none;
    }
}
#reel {
    position: fixed;
    top: -2em;
    left: -2em;
    width: 110%;
    min-height:110%;
    background-size: 100%;
    background-position: center center;
}
#main {
    position:relative;
    width:100%;
    overflow:hidden;
}
header {
    position:fixed;
    left:0;
    top:0;
    width: 13em;
    z-index:9999;
    font-size:1.3em;
    h1 {
        box-shadow: 0 0 15px rgba(255,255,255,0.7);
    }
}
nav {
    margin: 0 ;
    width: 8em;
    li {
        margin:20px 0;
    }
    a {
        display:inline !important;
        padding: 0.3em 0.7em !important;  // these two !important should go if we import the right stylsheet
        outline: 0;
        text-decoration:none;
        background-color: #004161;
        border-radius: 0 3px 3px 0;
        border: 0px solid #FFF;
        font-size: 80%;
        color: #FFF;
        transition: all 0.02s;
    }
    a:hover {
        background: #FFF !important;
        color: #333;
        box-shadow: 1px 1px 5px rgba(50,50,50,0.7);
        border: 1px solid #FFF;
        transition: all 0.2s;

    }
    .active a{
        background: #FFF !important;
        color: #004161;
        box-shadow: 4px 4px 15px #000;
        display: block;
        text-align: right;
    }
}
section {
    position: relative;
    text-align: center;

}
.wrapper {
    width: 60%;
    margin: 0 auto;
}
details {
    clear:both;
}
article li {
    list-style: square;
    margin: 3px 1.3em;
}
footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
#logo {
    background: #67e2ad url(../images/pojo.png) no-repeat center bottom;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    margin: 0.5em;
    transition: all 0.3s;
    &:hover {
        box-shadow: 0 0 2px #FFF, 2px 2px 15px #000;
        transition: all 0.3s;
    }
    a{
        text-indent: -9999px;
        display: block;
        overflow: hidden;
        height: 70px;
        width: 70px;
        background: transparent;
        &:hover {
            background:transparent;
        }

    }
}
.row {
    margin:0 auto;
    padding: 3em 3em 3em 10em;
}
.album {
    margin-bottom: 40px;
    .inner {
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        height: 200px;

        background-repeat: no-repeat;
        background-size: 200%;
        background-position: center center;
    }
    * {
        transition: all 0.3s;
    }
    img {
        margin-left:-20px;
        margin-top:-20px;
    }
    h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        margin:0;
        padding: 4px;
        color:transparent;
        opacity:0;
        text-align: left;
        transition: all 0.2s;
        z-index:999;
    }
    a  {
        display: block;
        padding: 0;
        text-decoration: none;
        transition: all 0.2s;

    }
    &:hover{
        .inner{
            transition: all 0.2s;
            box-shadow: 4px 4px 25px rgba(0,0,0,0.6);
        }
        h2 {
            width:100%;
            bottom: -2em;
            background: #67e2ad;
            color:#FFF;
            opacity: 100;
            cursor: pointer;
            transition: all 0.2s;
        }
    }
}
.content{
    min-width: 25em;
    width: 50%;
    height: 60%;
}
#about{
    text-align: center;
    .avatar {
        display: block;
        margin: auto;
        border-radius: 60px;
        width:120px;
        height:120px;
        overflow:hidden;
    }
    h1 {
        color: #333;
    }
    p {
        text-align: left;
    }

}
/* Form */
form {
    width: 50em;
    margin: 0 auto;
}
#contact-form {
    float: right;
}
label {
    text-align: left;
    display: block;
    color: #000;
    text-shadow: 1px 1px 0 #FFF, 0 0 6px #FFF;
}
input[type="text"], textarea {
    width:100%;
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 1px #6DE6B1;
}

/* Slider */

#slide-wrapper {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:2em 0;
    background: rgba(0,0,0,0.8);
    height:100%;
    img, iframe{
        box-shadow: 0 0 81px #000;
        max-height: 90%;
        max-width: 90%;
    }
    .close {
        position: absolute;
        top: 2em;
        right: 2em;
        z-index:9999;
        background:url(../images/close.png) no-repeat;
        width:35px;
        height:35px;
        overflow:hidden;
        text-indent:-9999px;
    }

}
.caption {
    position:absolute;
    bottom: 0;
    left:50%;
    text-align: left;
    background: #000;
    p{
        margin: 0;
        padding: 2px 4px;
    }
}
#manojo {
    display: block;
    margin: 1em auto;
}
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}

.slick-prev:before, .slick-next:before {
    font-family: $slick-font-family;
    font-size: 20px;
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
    &:before {
        content: $slick-prev-character;
        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}
