<section>
<div id="contact">
    <h1>Deje un mensaje</h1>
    <form action="." method="post">
        <p id="honeypot"><label for="honeypot">honeypot</label><input type="text" name="honeypot" value="" /></p>
        <p><label for="name">Nombre</label><input type="text" name="name" value="" /></p>
        <p><label for="email">Email</label><input type="text" name="email" value="" /></p>
        <p><label for="subject">Asunto</label><input type="text" name="asunto" value="" /></p>
        <p><label for="message">Mensage</label><textarea name="message" rows="8" cols="40"></textarea></p>
        <p><input type="submit" value="Enviar" /></p>
    </form>
</div>
</section>
