body {
    font: 13px "Helvetica", "Arial", sans-serif;
    margin:0;
    padding:0;
    background:#414057 url(../images/background.jpg) no-repeat;    
    background-attachment: fixed;
    background-position: center center;
}

nav, aside, header, footer, section, article {
    display:block;
    position:relative;
}
h1 {
    font:3em "Helvetica", "Arial", san-serif;
    text-shadow:    
        -1px -1px 1px #FFF,
        1px -1px 1px #FFF,
        -1px 1px 1px #FFF,
        1px 1px 1px #FFF;
    color:#000;
}
ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    margin:3px 0;
}
a {
    color: #FFF;
    text-decoration: none;
}
a:hover {
    color: #004161;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
a img {
    outline: none;
}

#container {
    position:relative;
    
    width:100%;
    overflow:hidden;
}
#logo {
    position:fixed;
    left:2em;
    top:2em;
    z-index:9999;
    font-size:1.3em;
}
nav {
    font-size:1.3em;
    z-index:9999;
    position:fixed;
    right:2em;
    top:2em;
    text-align:right;        
}
nav li {
    margin-bottom:15px;
}
nav a {
    box-shadow: 0 0 4px #000;
    text-decoration:none;
    background-color: #004161;
    color: #FFF;
    padding: 0 5px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
} 

nav a:hover {
    background: #FFF !important;
    color: 333;
    box-shadow: 4px 4px 15px #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

section {
    position: relative;
    padding: 4em 18em 3em 13em;
    margin-bottom: 20em;
    
}
details {
    clear:both;
}
article li {
    list-style: square;
    margin: 3px 1.3em;
}

#logo {
    background: url(../images/pojo.png) no-repeat;
    float: left;
}
#logo a{
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    height: 98px;
    width: 97px;
    background: transparent;    
}
#logo a:hover {
    background:transparent;
}
.work {
    float: left;
    margin: 1em;
    position: relative;
}
.work img {
    margin-top:-30%;
    margin-left:-50%;
}
.work h2 {
    position: absolute;
    bottom: 4px;
    left: 4px;
    margin: 0;
    color:transparent;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.work:hover h2 {
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.thumb {
    display: block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    width: 200px;
    height: 180px;
    box-shadow: 0 0 4px #000;
    transition: all 0.4s;
}
.thumb:hover {
    box-shadow: 4px 4px 15px #000;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
/* Canvas */
#periscopio {
    position: absolute;
    left: 50%;
    margin: -60px -95px;
    top: 50%;
    z-index:-1;
}
#main {
    display:block;
    margin: 0 0 50em;
    padding: 0;
}
/* Form */
label {
    display: block;
}
input[type="text"], textarea {
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 1px #6DE373;
    font: 1.5em "Helvetica", "Arial", sans-serif;
}
