body {
    font: 13px "Helvetica", "Arial", sans-serif;
    margin:0;
    padding:0;
    background:#414057 url(../images/background.jpg) no-repeat;    
    background-attachment: fixed;
    background-position: center center;
}
nav, aside, header, footer, section, article {
    display:block;
    position:relative;
}
#container {
    position:relative;
    width:100%;
}
header {
    position:fixed;
    width:100%;
    z-index:9999;
    font-size:1.3em;
}
header .wrapper {
    padding:2em;
    overflow: hidden;
}
nav {
    float:right;
    text-align:right;        
}
nav li {
    margin-bottom:15px;
}
nav a {
    box-shadow: -5px 5px 20px #000;
}

section {
    position: relative;
    padding: 3em 18em 3em 10em;
    margin-bottom: 20em;
    
}
details {
    clear:both;
}
article li {
    list-style: square;
    margin: 3px 1.3em;
}
h1 {
    font:2em "Helvetica", "Arial", san-serif;
    text-shadow:    
        -1px -1px 1px #FFF,
        1px -1px 1px #FFF,
        -1px 1px 1px #FFF,
        1px 1px 1px #FFF;
    color:#000;
}
ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    margin:3px 0;
}

a {
    text-decoration:none;
    background-color: #004161;
    color: #FFF;
    padding: 0 5px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    
} 
a:hover {
    background: #FFF !important;
    color: #004161;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
}

#logo {
    background: url(../images/pojo.png) no-repeat;
    float: left;
}
#logo a{
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    height: 98px;
    width: 97px;
    background: transparent;    
}
.work {
    float: left;
    margin: 1em;
    position: relative;
}
.work h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}
.thumb {
    display: block;
    overflow: hidden;
    background: transparent;
    padding: 0;
    width: 200px;
    height: 180px;
    box-shadow: 2px 2px 15px #000;
}
/* Canvas */

#main {
    display:block;
    margin: 0 0 50em;
    padding: 0;
}
/* Form */
label {
    display: block;
}
input[type="text"], textarea {
    border: 1px solid #CCC;
    border-radius: 3px;
    box-shadow: 0 0 1px #6DE373;
    font: 1.5em "Helvetica", "Arial", sans-serif;
}
