{% extends "master.html" %}
{% block title %}Sobre nosotros{% endblock %}
{% block page %}
<section id="main">
   <div class="wrapper">

<h2><a id="Qu_es_potaje_0"></a>Qué es potaje?</h2>
<p>Animamos, diseñamos y exploramos.
Buscamos dar lugar a una experiencia lúdica y creativa en torno al cine animado.</p>
<h3><a id="Animamos_4"></a>Animamos</h3>
<p>Nos interesa mezclar diferentes técnicas animadas, explorar entre lo analógico y lo digital. Dentro de las definiciones de animación creemos en la vida de los objetos inanimados y su poder subvertidor para construir sentido, expandiendo esta noción a nuestros productos y servicios.</p>
<h3><a id="Diseamos_7"></a>Diseñamos</h3>
<p>Resolvemos el diseño de piezas gráficas para productos audiovisuales: pack gráfico (zócalos, logos, tipografía, separadores, diseño de títulos y créditos)</p>
<h3><a id="Exploramos_10"></a>Exploramos</h3>
<p>Potaje Creativo también es un laboratorio permanente:</p>
<ul>
<li>Talleres de cine de animación para niños en espacios culturales y eventos.</li>
<li>Ciclo de cine de animación: Injerto Animado, Gula y Panzada de animación</li>
<li>Emerge (en proceso): “Memoria histórica, usos y sentidos en torno al río en la comunidad de Unquillo”. Proyecto de extensión universitaria. UNC
Mirá la calle: Tricicleta audiovisual.</li>
</ul>
<h3><a id="Visuales_18"></a>Visuales</h3>
<ul>
<li>Fiesta popular de San Juan</li>
<li>Campaña Amor si</li>
<li>Si Resuena de José Llorens. Cepia UNC</li>
<li>Grupo Composición La Colmena obra colectiva. Ciclo EXPERIMENTALIA 2015 | Centro Cultural España Córdoba</li>
<li>Varieté I “Objetos vivos varios” | Sala Antonina, Teatro La Luna</li>
</ul>
    </div>
</section>
{% endblock %}
