{% extends "master.html" %}
{% block title %}{{album.name}}{% endblock %}
{% block page %}
<section id="{{section|slugify}}" class="container-fluid">
   <div class="row">
        <div id="slide-wrapper">
            <ul class="slides">
                {% for content in album.content_set.all %}
                <li>
                    <div class="slide">
                        {{content.code|safe}}
                        <div class="caption">
                        <p>{{content.caption|urlize}}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
