{% extends "master.html" %}
{% load markup %}
{% block title %}{{album.name}}{% endblock %}
{% block head %}
<script>
    $(function(){
        $('#slide-wrapper').flexslider({
            animation:'slide',
            controlNav: false,
        })
    })
</script>
{% endblock %}

{% block page %}
<section id="{{section|slugify}}">
   <div class="wrapper">

        <div id="slide-wrapper">
            <a class="control" href="/">Cerrar</a>
            <ul class="slides">
                {% for picture in album.picture_set.all %}
                <li>
                    <img src="{{picture.image.url}}"/>
                    {{picture.caption|markdown|urlize}}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
