<!doctype html>
<html lang="es-AR">
<head>
    <meta charset="utf-8">
    <title>Potaje {% block title %}{% endblock %} - Potaje Creativo</title>
    <meta name="description" content="Un manojo de ideas">
    <meta name="author" content="Matías Iturburu <maturburu@gmail.com>; Ana Comes <anacomes@gmail.com>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/images/favicon.ico" type="image/png" />
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.ui.js"></script>
    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/jquery.pjax.js"></script>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/js/jquery.nav.js"></script>
    <script src="/static/js/scripts.js"></script>
    {% block head %}{% endblock %}
    <style type="text/css" media="screen">
        body {
        background: url({{MEDIA_URL}}/bg/index.php) no-repeat;
        background-size:100%;
        background-attachment: fixed;
        background-position: center center;

        }
    </style>
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20150902-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div id="container">
    <header>
        <h1 id="logo"><a href="/">Potaje Creativo</a></h1>
        {% if sections %}
        <nav>
        <ul>
            <li><a href="#main">Inicio / Home</a></li>
            {% for section in sections %}
            <li><a href="#{{section|slugify}}">{{section.name}}</a></li>
            {% endfor %}
            <li><a href="#about">Acerca de / About</a></li>
            <li><a href="#contact">Contacto / Contact</a></li>
        </ul>
        </nav>
        {% endif %}
    </header>

    {% block page %}
    <section id="main">
           <div class="wrapper">
    <canvas id="waves"></canvas>
            </div>
    </section>
    {% for section in sections %}
    <section id="{{section|slugify}}">
       <div class="wrapper">
        {% for work in section.album_set.all %}
        <article class="work"> 
            <a class="thumb" href="/album/{{work.id}}"><img width="400" src="{{work.first_image.url}}"></a>
            <h2>{{work.name}}</h2>
        </article>
        {% endfor %}
        <p class="detail">{{section.description|urlize}}</p>
        </div>
    </section>        
    {% endfor %}
    <section id="about">
        <div class="wrapper content" >
            <p>
                <a href="http://potajecreativo.com.ar">POTAJE CREATIVO</a> es diseño gráfico  y audiovisual.  
                Por Ana Comes, diseñadora gráfica y directora artistica.  Tecnica productora de cine y tv.  Universidad 
                Nacional de Cordoba.  Graphic designer, art director.
            </p>
            <p>
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"> <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
            </p>
            <p>
                <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Trabajos realizados por Potaje Creativo</span> 
                por <a xmlns:cc="http://creativecommons.org/ns#" href="http://potajecreativo.com.ar" property="cc:attributionName" rel="cc:attributionURL">Ana Fernandez Comes</a> 
                se encuentra bajo <br />una Licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                Creative Commons Atribución-NoComercial-CompartirDerivadasIgual 3.0 Unported</a>.
            </p> 
                <img src="/static/images/manojo.png" alt="Un manojo de ideas..." id="manojo" />
        </div>
    </section>
    <section id="contact">
       <div class="wrapper content">
            <p><a href="mailto:anacomes@gmail.com" rel="autor">anacomes@gmail.com</a></p>
            <p>(54) 351 - 153848533</p>
            <h3>Córdoba - Argentina</h3>
            <p>
                <a href="http://flickr.com/destonosalemusica" target="blank"><img src="/static/images/flickr.png" alt="description" /></a>
                <a href="http://facebook.com/ana.comes" target="blank" ><img src="/static/images/facebook.png" alt="description" /></a>
                <a href="http://vimeo.com/user9007483" target="blank"><img src="/static/images/vimeo.png" alt="description" /></a>
            </p>
       </div>
    {% endblock %}
    </section>
    <footer>
    <a rel="license" href="#about">
        <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" />
    </a>
    </footer>
</div>
</body>
</html>
