{% load staticfiles %}
<!doctype html>
<html lang="es-AR">
<head>
    <meta charset="utf-8">
    <title>Potaje {% block title %}{% endblock %} - Potaje Creativo</title>
    <meta name="description" content="Un manojo de ideas">
    <meta name="author" content="Potaje Creativo <hola@potajecreativo.com.ar>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico'%}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/main.js'%}"></script>
    {% block head %}{% endblock %}
    <!--style>
        #reel {
            background-image: url({{background.url}});

        }
    </style-->
</head>
<body>
<div id="main">
    <header>
        <h1 id="logo"><a href="/">Potaje Creativo</a></h1>
        {% if sections %}
        <nav id="main-nav">
        <ul class="nav">
            <li><a href="#reel">Reel</a></li>
            {% for section in sections %}
            <li><a href="#{{section|slugify}}">{{section.name}}</a></li>
            {% endfor %}
            <li><a href="#about">Quienes somos</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        </nav>
        {% endif %}
    </header>

    {% block page %}
    <div id="sections">
    <section id="reel" class="container-fluid">
        <div class="row">

            <iframe id="video-reel" 
                    width="500" height="281" 
                    src="https://player.vimeo.com/video/100610083?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>
        </div>
    </section>
    {% for section in sections %}
    <section id="{{section|slugify}}" class="container-fluid">
       <div class="row">
        {% for album in section.album_set.all %}
        <article class="album col-md-3">
            <a class="cover" href="/album/{{album.id}}">
            <div class="inner" style="background-image: url({{album.cover}})">
            </div>
            <h2>{{album.name}}</h2>
            </a>
        </article>
        {% endfor %}
        <p class="detail">{{section.description|urlize}}</p>
        </div>
    </section>
    {% endfor %}
    <section id="about" class="container-fluid">
        <div class="row" >
            <h2>
                <a href="http://potajecreativo.com.ar">POTAJE CREATIVO</a> es diseño gráfico  y audiovisual.
            </h2>
            {% for profile in profiles %}
            <article class="col-md-6 col-sm-1" id="{{profile.user}}">
                <a href="#{{profile.user}}" class="avatar"><img src="{{profile.avatar.url}}" alt="{{profile.user.get_full_name}}"/></a>
                <h1>{{profile.user.get_full_name}}</h1>
                {{profile.biopic|safe}}
                <p>
                {% for sc in profile.user.serviceconfiguration_set.all %}
                    <a href="{{sc.user_profile}}" target="blank"><img src="{{sc.service.icon.url}}" alt="{{sc.service.name}}" /></a>
                {% endfor %}
                </p>
            </article>
            {% endfor %}
                <img src="{% static 'images/manojo.png'%}" alt="Un manojo de ideas..." id="manojo" />
        </div>
    </section>
    <section id="contact" class="container-fluid">
       <div class="row">
            <h3><a href="mailto:hola@potaje.com.ar" rel="autor">hola@potaje.com.ar</a></h3>
            <h3>(54) 351 - 153848533</h3>
            <h3>Córdoba - Argentina</h3>
            <p>
                <a href="http://flickr.com/destonosalemusica" target="blank"><img src="{% static 'images/flickr.png'%}" alt="description" /></a>
                <a href="http://facebook.com/ana.comes" target="blank" ><img src="{% static 'images/facebook.png'%}" alt="description" /></a>
                <a href="http://vimeo.com/user9007483" target="blank"><img src="{% static 'images/vimeo.png'%}" alt="description" /></a>
            </p>
           <p>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"> <img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
            </p>
            <p class="license">
                <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Trabajos realizados por Potaje Creativo</span>
                por <a xmlns:cc="http://creativecommons.org/ns#" href="http://potajecreativo.com.ar" property="cc:attributionName" rel="cc:attributionURL">Ana Fernandez Comes</a>
                se encuentra bajo <br />una Licencia <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                Creative Commons Atribución-No Comercial-Compartir Derivadas Igual</a>.
            </p>

       </div>
    </section>
    </div>
    {% endblock %}

</div>
</body>
</html>
